@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
.mm-text-clip {
    width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}